<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bigbigdw.joaradw">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="bigbigdw.joaradw.JOARADW"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.JoaraDW">
        <activity
            android:name="bigbigdw.joaradw.etc.Splash"
            android:theme="@style/Theme.JoaraDW">

        </activity>
        <activity
            android:name="bigbigdw.joaradw.main.Main"
            android:theme="@style/Theme.JoaraDW.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="bigbigdw.joaradw.test.Test"
            android:theme="@style/Theme.JoaraDW">

        </activity>

        <activity
            android:name="bigbigdw.joaradw.Login.Login_Main"
            android:theme="@style/Theme.JoaraDW">

        </activity>

        <activity
            android:name="bigbigdw.joaradw.Book_Detail.Book_Detail"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">

        </activity>

        <activity
            android:name="bigbigdw.joaradw.Book_Detail.Book_Detail_Cover"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">

        </activity>

        <activity
            android:name="bigbigdw.joaradw.Book_Viewer.Book_Viewer"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">
        </activity>

        <activity
            android:name="bigbigdw.joaradw.fragment_main.BookPageEtc"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">
        </activity>

        <activity
            android:name="bigbigdw.joaradw.Book_Detail.Book_Detail_SubPage"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">
        </activity>

        <activity
            android:name="bigbigdw.joaradw.Book_Viewer.Viewer_Setting"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>


</manifest>