<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bigbigdw.joaradw">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        tools:replace="android:label"
        android:name="bigbigdw.joaradw.JOARADW"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appLabel}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.JoaraDW">
        <activity
            android:name="bigbigdw.joaradw.novel.Splash"
            android:theme="@style/Theme.JoaraDWBookDetail">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="bigbigdw.joaradw.novel.ActivityNovel"
            android:theme="@style/Theme.JoaraDW.NoActionBar">
        </activity>

        <activity
            android:name="bigbigdw.joaradw.test.ActivityTest"
            android:theme="@style/Theme.JoaraDWBookDetail">

        </activity>

        <activity
            android:name="bigbigdw.joaradw.login.ActivityLoginMain"
            android:theme="@style/Theme.JoaraDWBookDetail">

        </activity>

        <activity
            android:name="bigbigdw.joaradw.book_detail.BookDetail"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">

        </activity>

        <activity
            android:name="bigbigdw.joaradw.book_detail.BookDetailCover"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">

        </activity>

        <activity
            android:name="bigbigdw.joaradw.book_viewer.BookViewer"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">
        </activity>

        <activity
            android:name="bigbigdw.joaradw.novel.BookPageEtc"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">
        </activity>

        <activity
            android:name="bigbigdw.joaradw.book_detail.BookDetailSubPage"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">
        </activity>

        <activity
            android:name="bigbigdw.joaradw.book_viewer.ViewerSetting"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">
        </activity>

        <activity
            android:name="bigbigdw.joaradw.login.ActivityLoginRegister"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">
        </activity>

        <activity
            android:name="bigbigdw.joaradw.login.AcitivityLoginCardPW"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">
        </activity>

        <activity
            android:name="bigbigdw.joaradw.login.ActivityLoginFindID"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">
        </activity>

        <activity
            android:name="bigbigdw.joaradw.login.ActivityLoginFindPW"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">
        </activity>

        <activity
            android:name="bigbigdw.joaradw.policy.Policy"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">
        </activity>

        <activity
            android:name="bigbigdw.joaradw.book_detail.BookSupportersCoupon"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">
        </activity>

        <activity
            android:name="bigbigdw.joaradw.book_detail.BookReport"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">
        </activity>

        <activity
            android:name="bigbigdw.joaradw.joara_post.PostDetail"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">
        </activity>

        <activity
            android:name="bigbigdw.joaradw.fragment_genre.Genre"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">
        </activity>

        <activity
            android:name="bigbigdw.joaradw.writer.ActivityWriter"
            android:label=""
            android:theme="@style/Theme.JoaraDWBookDetail">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>


</manifest>